@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");

:root {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin-top: 45px;
  background-color: rgb(240, 248, 255);
  font-weight: bold;
  font-style: italic;
  font-family: "Waiting for the Sunrise", cursive;
}

header,
footer {
  width: 100%;
  color: white;
  text-shadow: 1px 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: rgb(61, 0, 126);
}

header {
  position: fixed;
  top: 0px;
  z-index: 10;
  height: 45px;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 3px rgb(48, 46, 46);
}

h1 {
  margin: 0;
  font-size: 40px;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  max-width: 1200px;
}

/* Outer container for beast component */
.beastContainer {
  flex: 1 1 300px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(44, 0, 49);
  font-style: italic;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  margin: 5px;

  background-image: linear-gradient(
    to bottom,
    rgba(173, 182, 238, 0.52),
    rgba(117, 19, 93, 0.2)
  );

  box-shadow: 1px 1px 2px rgb(168, 168, 168),
    inset 1px 1px 2px rgb(233, 155, 198);
}
.beastContainer * {
  margin: 5px;
}

.beastContainer h2 {
  color: rgb(37, 0, 72);
  text-shadow: 1px 1px 1px rgb(247, 0, 190);
}

.beastContainer .img-container {
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
  height: 298px;
  width: 298px;
  border-radius: 50%;
  display: flex;

  box-shadow: 1px 1px 7px rgb(79, 57, 57);
}

.beastContainer .img-container:active {
  box-shadow: 1px 1px 3px rgb(139, 99, 99);
}

.beastContainer img {
  margin: 0px;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.beastContainer img:hover {
  cursor: pointer;
  width: 105%;
  height: 105%;
  transform: scale(1.02, 1.02);
}

.beastContainer img:active {
  transform: unset;
  transition: all 0.1s;
}

.beast-description {
  border-radius: 5px;
  background-color: rgba(185, 249, 249, 0.5);

  box-shadow: 1px 1px 2px rgb(139, 99, 99);

  padding: 5px;
}

.heart-container {
  position: relative;
}

.heart div {
  position: absolute;
  top: 18px;
  right: 6px;
  z-index: 3;
  font-size: 50px;
  color: rgb(230, 0, 191);
  text-shadow: 1px 1px 6px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-style: initial;
}

.heart div:nth-child(2) {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 25px;
  top: 32px;
  right: 23px;
}
