@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");

h1,
h2 {
  font-weight: bold;
}

:root {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin-top: 45px;
  background-color: rgb(240, 248, 255);
  font-weight: bold;
  font-style: italic;
  font-family: "Waiting for the Sunrise", cursive;
}
