header {
  width: 100%;

  color: white;
  text-shadow: 1px 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: rgb(61, 0, 126);

  position: fixed;
  top: 0px;
  z-index: 10;
  border-bottom: 4px solid rgb(29, 0, 59);
  border-top: 4px solid rgb(29, 0, 59);
  box-shadow: 1px 1px 3px rgb(48, 46, 46);
}

#headerOuterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;

  background-color: rgb(29, 0, 59);
}

#headerInnerContainer * {
  margin-left: 10px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}
