/* Outer container for beast component */
.beastContainer {
  flex: 1 1 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  margin: 5px;

  border: 2px solid rgb(44, 0, 49);
  font-style: italic;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to bottom,
    rgba(173, 182, 238, 0.52),
    rgba(117, 19, 93, 0.2)
  );

  box-shadow: 1px 1px 2px rgb(168, 168, 168),
    inset 1px 1px 3px rgb(233, 155, 225);
}

.beastContainer:hover {
  box-shadow: 1px 1px 2px rgb(168, 168, 168),
    inset 1px 1px 15px rgb(149, 80, 219);
}

.beastContainer * {
  margin: 5px;
}

.beastContainer h2 {
  color: rgb(37, 0, 72);
  text-shadow: 1px 1px 1px rgb(247, 0, 190);
}

.beastContainer .img-container {
  display: flex;
  align-content: center;
  justify-content: center;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  box-shadow: 1px 1px 7px rgb(79, 57, 57);

  background-color: rgb(255, 255, 255);

  height: 248px;
  width: 248px;
}

.beastContainer .img-container:hover {
  box-shadow: 1px 1px 12px rgb(59, 5, 11);
}

.beastContainer .img-container:active {
  box-shadow: 1px 1px 3px rgb(139, 99, 99);
}

/* required for mobile to prevent image from bleeding out? */
.beastContainer .img-container,
.beastContainer .img-container:hover,
.beastContainer .img-container:active {
  overflow: hidden;
}

.beastContainer img {
  margin: 0px;
  transition: all 0.2s;
}

.beastContainer img:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

/* remove hover on mobile */
@media only screen and (max-width: 500px) {
  .beastContainer img:hover {
    transform: scale(1, 1);
  }
}

.beastContainer img:active {
  transform: scale(1.1, 1.1);
  transition: all 0.1s;
}

.beastDescription-container {
  width: calc(100% - 10px);

  border-radius: 5px;
  background-color: rgba(185, 249, 249, 0.5);

  box-shadow: 1px 1px 2px rgb(139, 99, 99);

  padding: 5px;

  text-shadow: 1px 1px 6px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.beastDescription-container.btn.btn-primary {
  font-size: 20px;
  font-weight: bold;
}

.heartContainer {
  position: relative;
  border-radius: 50%;
}

.heart div {
  position: absolute;
  top: 18px;
  right: 6px;
  z-index: 3;
  font-size: 50px;
  color: rgb(230, 0, 191);
  text-shadow: 1px 1px 6px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-style: initial;
}

.heart div:nth-child(2) {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 22px;
  top: 32px;
  right: 23px;
}

.heartContainer:active .heart div {
  transform: scale(1.2, 1.2);
  text-shadow: 2px 2px 9px #000, -1px -1px 3 #000, 1px -1px 3 #000,
    -1px 1px 3 #000, 1px 1px 3 #000;
  transition: all 0.2s;
}

.heartContainer:active .heart div:nth-child(2) {
  opacity: 0;
  transition: all 0.3s;
}
